<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697739274394-or83ietlgp48jfs3nt82fmtahf7c9hop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697739274394-or83ietlgp48jfs3nt82fmtahf7c9hop</string>
	<key>API_KEY</key>
	<string>AIzaSyDPvgydsFh7rapQS8D2h_wGaStZrd78B7I</string>
	<key>GCM_SENDER_ID</key>
	<string>697739274394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egyassist.app</string>
	<key>PROJECT_ID</key>
	<string>malek-eltawaqo3at</string>
	<key>STORAGE_BUCKET</key>
	<string>malek-eltawaqo3at.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697739274394:ios:8e5fe92713fe483b42d723</string>
</dict>
</plist>